
  .invest_card{
      
    position: absolute;
    width: 327px;
    height: 260px;
    left: 24px;
    
    

  }
  .imgWoman{
    position: absolute;
    width: 170px;
    height: 180px;
    right: 10px;
    top: 0px;
    background-image: url("../../assets/head.png");
  }

  .valueCard{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    bottom: 0px;

    background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
    background-blend-mode: multiply, normal;
    /* Card shadow 1 */

    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;}
  
  .firstText{
    position: absolute;
    width: 112px;
    height: 50px;
    left: 25px;
    top: 30px;

    /* Subtitle 2 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    /* White */

    color: #FFFFFF;
  }

  .secondText{
    position: absolute;
    width: 56px;
    height: 21px;
    left: 20px;
    bottom: 69px;

    /* Normal 2 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* White */

    color: #FFFFFF;
  }
  .valueText{
    position: absolute;
    width: 185px;
    height: 49px;
    left: 20px;
    bottom: 20px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* White */

    color: #FFFFFF;
  }

  .summary{
    display: flex;
    flex-direction: column;
    padding: 20px;

    position: absolute;
    width: 286px;
    height: 50px;
    left: 24px;
    top: 270px;

    /* White */

    background: #FFFFFF;
    /* Card shadow soft */

    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
  }
  .frame58{
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 285px;
    height: 21px;
    left: 21px;
    top: 61px;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: center;
    margin: 0px 10px;
  }
  .valueFrame58{
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: static;
    width: 132px;
    height: 21px;
    left: 153px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: center;
    margin: 23px 0px;
  }
  .valueFont58{
    position: static;
    width: 132px;
    height: 21px;
    left: 0px;
    top: 0px;

    /* Normal 2 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: block;
    align-items: center;
    text-align: right;
    letter-spacing: -0.01em;

    /* 75% */

    color: #58506B;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    margin: 0px 0px;
  }

  .textFrame58{
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: static;
    width: 130px;
    height: 21px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 23px 0px;
  }
  .textFont58{
    position: static;
    width: 130px;
    height: 21px;
    left: 0px;
    top: 0px;

    /* Normal 1 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* 75% */

    color: #58506B;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    margin: 0px 0px;
  }

  .line{
    position: static;
    width: 267px;
    height: 0px;
    left: 20px;
    top: 51px;

    /* Background */

    border: 1px solid #FAF9FD;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    margin: 0px 10px;
  }

  .frame55{
    
    /* Frame 55 */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 285px;
    height: 21px;
    left: 21px;
    top: 20px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 10px;

  }

  .textFrame55{
    /* Inversión */


    position: static;
    width: 130px;
    height: 21px;
    left: 0px;
    top: 0px;

    /* Normal 1 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* 75% */

    color: #58506B;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    margin: 0px 0px;
  }
  .textFont55{
    position: static;
    width: 130px;
    height: 21px;
    left: 0px;
    top: 0px;

    /* Normal 1 */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* 75% */

    color: #58506B;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    margin: 0px 0px;
  }
  .valueFrame55{
    /* value_status */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: static;
    width: 132px;
    height: 21px;
    left: 153px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: center;
    margin: 23px 0px;
  }

  .valueFont55{
    position: static;
    width: 132px;
    height: 21px;
    left: 0px;
    top: 0px;
    
    /* Normal 2 */
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    
    display: block;
    align-items: center;
    text-align: right;
    letter-spacing: -0.01em;
    
    /* 75% */
    
    color: #58506B;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    margin: 0px 0px;
  }

  .tittle2{
    
    position: absolute;
    width: 271px;
    height: 25px;
    left: 24px;
    top: 460px;
    
    /* Subtitle 2 */
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    /* 75% */
    
    color: #58506B;
  }
 
 @media only screen and (max-width: 720px) {
  
    .invest_card{
      
      position: absolute;
      width: 327px;
      height: 260px;
      left: 24px;
      top: 89px;
      

    }
    .imgWoman{
      position: absolute;
      width: 170px;
      height: 180px;
      right: 10px;
      top: 0px;
      background-image: url("../../assets/head.png");
    }

    .valueCard{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 30px;
      bottom: 0px;

      background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
      background-blend-mode: multiply, normal;
      /* Card shadow 1 */

      box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
      border-radius: 20px;}
    
    .firstText{
      position: absolute;
      width: 112px;
      height: 50px;
      left: 25px;
      top: 30px;

      /* Subtitle 2 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;

      /* White */

      color: #FFFFFF;
    }

    .secondText{
      position: absolute;
      width: 56px;
      height: 21px;
      left: 20px;
      bottom: 69px;

      /* Normal 2 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;
      letter-spacing: -0.01em;

      /* White */

      color: #FFFFFF;
    }
    .valueText{
      position: absolute;
      width: 185px;
      height: 49px;
      left: 20px;
      bottom: 20px;
      
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      /* identical to box height */

      display: flex;
      align-items: center;

      /* White */

      color: #FFFFFF;
    }

    .summary{
      display: flex;
      flex-direction: column;
      padding: 20px;

      position: absolute;
      width: 286px;
      height: 50px;
      left: 24px;
      top: 369px;

      /* White */

      background: #FFFFFF;
      /* Card shadow soft */

      box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
      border-radius: 20px;
    }
    .frame58{
      display: flex;
      flex-direction: row;
      padding: 0px;

      position: static;
      width: 285px;
      height: 21px;
      left: 21px;
      top: 61px;


      /* Inside Auto Layout */

      flex: none;
      order: 2;
      align-self: center;
      margin: 0px 10px;
    }
    .valueFrame58{
      display: flex;
      flex-direction: column;
      padding: 0px;

      position: static;
      width: 132px;
      height: 21px;
      left: 153px;
      top: 0px;


      /* Inside Auto Layout */

      flex: none;
      order: 1;
      align-self: center;
      margin: 23px 0px;
    }
    .valueFont58{
      position: static;
      width: 132px;
      height: 21px;
      left: 0px;
      top: 0px;

      /* Normal 2 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      display: block;
      align-items: center;
      text-align: right;
      letter-spacing: -0.01em;

      /* 75% */

      color: #58506B;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      margin: 0px 0px;
    }

    .textFrame58{
      display: flex;
      flex-direction: column;
      padding: 0px;

      position: static;
      width: 130px;
      height: 21px;
      left: 0px;
      top: 0px;


      /* Inside Auto Layout */

      flex: none;
      order: 0;
      align-self: center;
      margin: 23px 0px;
    }
    .textFont58{
      position: static;
      width: 130px;
      height: 21px;
      left: 0px;
      top: 0px;

      /* Normal 1 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      /* 75% */

      color: #58506B;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      margin: 0px 0px;
    }

    .line{
      position: static;
      width: 267px;
      height: 0px;
      left: 20px;
      top: 51px;

      /* Background */

      border: 1px solid #FAF9FD;

      /* Inside Auto Layout */

      flex: none;
      order: 1;
      margin: 0px 10px;
    }

    .frame55{
      
      /* Frame 55 */


      /* Auto Layout */

      display: flex;
      flex-direction: row;
      padding: 0px;

      position: static;
      width: 285px;
      height: 21px;
      left: 21px;
      top: 20px;


      /* Inside Auto Layout */

      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 10px;

    }

    .textFrame55{
      /* Inversión */


      position: static;
      width: 130px;
      height: 21px;
      left: 0px;
      top: 0px;

      /* Normal 1 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      /* 75% */

      color: #58506B;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      margin: 0px 0px;
    }
    .textFont55{
      position: static;
      width: 130px;
      height: 21px;
      left: 0px;
      top: 0px;

      /* Normal 1 */

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      /* 75% */

      color: #58506B;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      margin: 0px 0px;
    }
    .valueFrame55{
      /* value_status */


      /* Auto Layout */

      display: flex;
      flex-direction: column;
      padding: 0px;
      
      position: static;
      width: 132px;
      height: 21px;
      left: 153px;
      top: 0px;


      /* Inside Auto Layout */

      flex: none;
      order: 1;
      align-self: center;
      margin: 23px 0px;
    }

    .valueFont55{
      position: static;
      width: 132px;
      height: 21px;
      left: 0px;
      top: 0px;
      
      /* Normal 2 */
      
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */
      
      display: block;
      align-items: center;
      text-align: right;
      letter-spacing: -0.01em;
      
      /* 75% */
      
      color: #58506B;
      
      /* Inside Auto Layout */
      
      flex: none;
      order: 0;
      margin: 0px 0px;
    }

    .tittle2{
      
      position: absolute;
      width: 271px;
      height: 25px;
      left: 24px;
      top: 460px;
      
      /* Subtitle 2 */
      
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      /* identical to box height */
      
      display: flex;
      align-items: center;
      
      /* 75% */
      
      color: #58506B;
    }
    
}
